<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <div style="max-width: 500px; margin: auto">
      <p>Hi {{username}},</p>
      <p>
        It looks like you requested to reset the password for your
        <a style="color: #4a7ddd" href="https://teachtolearn.club"
          >teachtolearn.club</a
        >
        account, No problem! Reset your password now using the button below.
      </p>
      <center>
        <a href="https://teachtolearn.club/passwordReset/{{token}}">
          <button
            style="
              border: none;
              color: white;
              text-align: center;
              background-color: #4a7ddd;
              padding: 10px;
              border-radius: 5px;
            "
          >
            reset password
          </button>
        </a>
      </center>
      <p>
        If you didn’t want to reset your password, you can safely ignore this
        email and carry on as usual. If you need help logging in to your
        <a style="color: #4a7ddd" href="https://teachtolearn.club">
          teachtolearn.club
        </a>
        account, feel free to contact us.
      </p>
      Best Regards,<br />
      teachtolearn team
    </div>
  </tr>
</table>
